/* styles.css */
.sign-in-container {
  margin-top: 5%; /* 100px in relation to 500px is 20% */
  margin-inline: 20%; /* Assuming the inline direction aligns with width */
}


div.sign-in-container .form-group input[type="email"]{
  width: 90%;
  color: #000;
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;

  font-size: 120%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5%;
  border: none; /* Remove the input border */
  background: transparent; /* Make the input background transparent */
  
  position: relative; /* Add relative positioning */
  
}

div.sign-in-container .form-group input[type="password"]{
  width: 90%;
  color: #000;
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 120%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5%;
  border: none; /* Remove the input border */
  background: transparent; /* Make the input background transparent */
}

.login-button {
  width: 220px;
  height: 59px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
  line-height: 59px;
  border: 1px solid #000;  
  font-family: 'Gilroy-Bold', sans-serif;
  margin-left: 35%;
}

.login-button:focus {
  outline: none; /* Remove the button outline when focused */
}

.login-button:hover {
  background-color: rgba(68, 114, 160, 0.6);
}

/* Updated styles for email and password inputs */
.form-group {
  margin-bottom: 0.2%; /* Add more margin to increase the space */
}




/* Style for the line under email and password */
.line {
  width: 600px; /* Adjust the width as needed */
  height: 1px;
  background: rgba(0, 0, 0, 0.21);
  margin: 0 auto; /* Center the line horizontally */
  margin-bottom: 10px; /* Add margin for spacing */
}

/* Updated styles for icons and input text */
.icon-label {
  display: flex;
  align-items: center; 
  font-family: 'Gilroy-Bold', sans-serif;
}

.input-text {
  color: #000;
  padding: 5%;
  font-size: 16px; /* Adjust the font size to your preference */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px; /* Adjust the letter-spacing as needed */
  margin-right: 10px; /* Adjust the margin-right for spacing */
}

.input-icon {
  margin-left: -50px; /* Move the icon more towards the left */
  color: rgba(211, 211, 211, 0.5); /* Adjust the icon's right margin for spacing */
}