/* styles.css */
.sign-up-container {
  margin-top: 5%; /* 100px in relation to 500px is 20% */
  margin-inline: 20%; /* Assuming the inline direction aligns with width */
}

.line-sign {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.21);
  margin: 0 auto; /* Center the line horizontally */
  margin-bottom: 3%; /* Add margin for spacing */
}

.sign-button {
  width: 220px;
  height: 59px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
  line-height: 59px;
  border: 1px solid #000;  
  font-family: 'Gilroy-Bold', sans-serif;
  margin-left: 35%;
}

.sign-button:focus {
  outline: none; /* Remove the button outline when focused */
}

.sign-button:hover {
  background-color: rgba(68, 114, 160, 0.6);
}

/* Updated styles for email and password inputs */
.form-group {
  margin-bottom: 4%; /* Add more margin to increase the space */
}
div.sign-up-container .form-group input[type="email"]{
  width: 90%;
  color: #000;
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;

  font-size: 120%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5%;
  border: none; /* Remove the input border */
  background: transparent; /* Make the input background transparent */
  margin: 0 auto; /* Center the input horizontally */
  position: relative; /* Add relative positioning */
  
}
div.sign-up-container .form-group input[type="password"]{
  width: 90%;
  color: #000;
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;

  font-size: 120%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5%;
  border: none; /* Remove the input border */
  background: transparent; /* Make the input background transparent */
  position: relative; /* Add relative positioning */
}

.success-message {
  color: green;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
.input-text{
  font-family: 'Sarala-Regular', sans-serif;
}