.right {
  flex: 1;
  background-color: #DCE6FF47;
  max-height: 100%;
  overflow-y: auto;
  margin-top: 2%;
}


body {
  background-size: cover;
  position: relative;
}

.content {
  color: #000;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-top: -36%; /* Adjust this value to move the title higher */
  margin-left: -10%;
}

.gestureTitle {
  color: #000;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 5%; /* Adjust this value to move the title higher */
  margin-left: 1%;
  margin-bottom: 1%;
}
.gestureHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}


.saveButton {
background: #84A0BD; /* Adjusted to match the screenshot */
color: #000; /* Assuming the text color is white based on the screenshot */
font-family: 'Sarala', sans-serif;
font-size: 24px;
width: 23%; /* Adjusted to content size, consider setting a min-width if needed */
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
padding: 10px 20px; /* Adjusted for more noticeable padding */
border: 2px solid #718DA3; /* Adjusted to match the button border */
border-radius: 25px; /* Adjusted for more rounded corners */
transition: background 0.3s;
margin-top: 1%;
margin-left: 1%;
text-shadow: none; /* Assuming there is no text shadow as per the screenshot */

}
.saveButton:hover {
  background: #5A88FF;
  
}

.container {
  display: flex;
  height: 85vh;
}

.gestureList {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-around; /* Adjust as needed */
  padding: 20px;
  align-items: center;
}

.gestureItem {
  width: 30%; /* Set width to 30% for three gestures per row */
  margin-bottom: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally within each .gestureItem */
}
.png {
  width: 100%;
  max-width: 150px;
  height: auto;
  border: none;
  border-radius: 8px;
  
  background-color: rgba(214, 224, 255, 0.28); /* Transparent background color */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /* Drop shadow */
  padding: 8px; /* Add padding for spacing around the GIF */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* Adjust spacing between image and select */
}


/* Updated styles for the select element with default arrow */
select {
  align-items: center;
  background: hsla(204, 42%, 44%, 1);
  background: linear-gradient(90deg, hsla(204, 42%, 44%, 1) 0%, hsla(204, 70%, 76%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(204, 42%, 44%, 1) 0%, hsla(204, 70%, 76%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(204, 42%, 44%, 1) 0%, hsla(204, 70%, 76%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#417BA1", endColorstr="#99CCED", GradientType=1 );
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  appearance: none; /* Remove default arrow */
  width: 75%; /* Adjust width as needed */
  font-size: 16px; /* Adjust font size as needed */
  font-family: 'Gilroy-Medium', sans-serif; 
  border: 2px solid #555;
  border-radius: 8px;
  border: 1px solid #000; /* Equivalent to border */
  padding: 0.5rem 1rem; /* Equivalent to p-2 */
  border-radius: 0.375rem; /* Equivalent to rounded-md */
  /* Add default arrow */
  background-image: linear-gradient(45deg, transparent 50%, #000 50%),
    linear-gradient(135deg, #000 50%, transparent 50%);
  background-position: calc(100% - 12px) center, calc(100% - 7px) center;
  background-size: 5px 5px;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  /* Modify styles for smaller screens */
  select {
    width: 100%; /* Full width for smaller screens */
    padding: 6px 38px 0px 14px;
  }
  
  .dropdown {
    flex-basis: 100%;
  }
}