/* App.css */
body {
  background: url('C:/Users/dudir/OneDrive/Desktop/CSIT-321-PROJECT-NEXUS-CTRL-/front-end1/front-end1/src/assets/backgroundImage.png') no-repeat;
  padding: 0;
  overflow: hidden;
  margin: 0;  
}

.main-content {
  display: flex;
  justify-content: space-around;
 margin-top: -3%;
}
.cameraTitle {
  color: #000;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9%;
  margin-left: 1%;
}
.flex-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%; /* Set width to 50% */
  box-sizing: border-box; /* Ensure padding and border don't affect the width */
  min-height: 100vh;
}

.left-flexbox {
  margin-top: 3%;
}
.right-flexbox {
  margin-top: 3%;
}

/* Add other styling as needed */
