.right {
  flex: 1;
  background-color: #DCE6FF47;
  max-height: 100%;
  overflow-y: auto;
  margin-top: 2%;
}


body {
  background-size: cover;
  position: relative;
}

.container {
  display: flex;
  height: 85vh;
}

.content {
  color: #000;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-top: -36%; /* Adjust this value to move the title higher */
  margin-left: -10%;
}

.homeTitle {
  color: #000;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 5%; /* Adjust this value to move the title higher */
  margin-left: 1%;
  margin-bottom: 1%;
}
.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.parent {
  /* Adjust the margin-top to move the button container up */
  display: flex;
  gap: 30px;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  
}
.child {
  width: 220px;
  height: 59px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, #333333, #555555);
    /* Other button styles */
    color: white; /* Text color */
    border: 1px solid #333333; /* Border color */
    
    transition: background-color 0.3s ease;
  position: relative;
 
  line-height: 59px;
 
  font-family: 'Gilroy-Bold', sans-serif;
}

.child:hover {
  background-color: #84A0BD;
  color: white;
}

.child::before, .child::after {
  content: '';
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border: 5px solid #84A0BD;
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.3s;
}


.child::before {
  top: 3px;
  left: 3px;
}

.child::after {
  bottom: 3px;
  right: 3px;
}

.child:hover::before, .child:hover::after {
  
    
    background: linear-gradient(to bottom, #333333, #555555); /* Maintain the same dark gray gradient */
  box-shadow: 0 0 10px 2px #6c5ce7; /* Adding a shadow effect of a different color */
  
}

/* styles.css */
.signInContainer {
  margin-top: 5%; /* 100px in relation to 500px is 20% */
  margin-inline: 20%; /* Assuming the inline direction aligns with width */
  
}


div.signInContainer .formGroup input[type="email"]{
  width: 70%;
  color: white;
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;

  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5%;
  border: none; 
  background: transparent; /* Make the input background transparent */
  position: relative; /* Add relative positioning */
}
div.signInContainer .formGroup input[type="email"]::placeholder {
  color:#ECEFF1;
  font-style: italic;
  font-size: 20px;
}
div.signInContainer .formGroup input[type="password"]{
  width: 70%;
  color: white;
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5%;
  border: none; 
  background: transparent; /* Make the input background transparent */
  position: relative; /* Add relative positioning */
}

div.signInContainer .formGroup input[type="password"]::placeholder {
  color:#ECEFF1;
  font-style: italic;
  font-size: 20px;
  border: none;
  background-color: none;
}

/* ... existing styles ... */

div.signInContainer .formGroup input[type="password"]:hover::placeholder {
  color: transparent; /* Hide placeholder text on hover */
}


.loginButton {
  width: 220px;
  height: 59px;
  border-radius: 50px;
  cursor: pointer;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  transition: background-color 0.3s, color 0.3s;
  line-height: 59px;
  background: linear-gradient(to bottom, #333333, #555555);
  /* Other button styles */
  color: white; /* Text color */
  border: 1px solid #333333; /* Border color */
  font-family: 'Gilroy-Bold', sans-serif;
  margin-left: 35%;
  margin-top: 10%;
}

.loginButton:focus {
  outline: none; /* Remove the button outline when focused */
}

.loginButton:hover {

    
    background: linear-gradient(to bottom, #333333, #555555); /* Maintain the same dark gray gradient */
  box-shadow: 0 0 10px 2px #6c5ce7; /* Adding a shadow effect of a different color */
  
}

/* Updated styles for email and password inputs */
.formGroup {
  margin-bottom: 0.2%; /* Add more margin to increase the space */
}

/* Style for the line under email and password */
.line {
  width: 600px; /* Adjust the width as needed */
  height: 1px;
  background: rgba(0, 0, 0, 0.21);
  margin: 0 auto; /* Center the line horizontally */
  margin-bottom: 10px; /* Add margin for spacing */
}

/* Updated styles for icons and input text */
.iconLabel {
  display: flex;
  align-items: center; 
  font-family: 'Gilroy-Bold', sans-serif;
}

.inputText {
  color: #000;
  padding: 5%;
  font-size: 20px; /* Adjust the font size to your preference */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px; /* Adjust the letter-spacing as needed */
  margin-right: 10px; /* Adjust the margin-right for spacing */
}

.inputIcon {
  height: 30px;
  width: 30px;
  color: #292c3e; /* Adjust the icon's right margin for spacing */
}


.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.message {
  color: green;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: 400;
  margin-top: 5%; /* Adjust this value to control the spacing */
  margin-bottom: 10%; /* Adjust this value to control the spacing */
 
  text-align: center;
}

.logoutButton {
  width: 220px;
  height: 59px;
  border-radius: 50px;
  cursor: pointer;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  line-height: 59px;
  background: linear-gradient(to bottom, #333333, #555555);
  /* Other button styles */
  color: white; /* Text color */
  border: 1px solid #333333; /* Border color */
  font-family: 'Gilroy-Bold', sans-serif;
}

.logoutButton:focus {
  outline: none; /* Remove the button outline when focused */
}



.errorMessage {
  color: red;
  margin-top: 10px;
}