/* App.css */
body{
  padding: 0;
  overflow: hidden;
  margin: 0;
  background: hsla(204, 42%, 44%, 1);

  background: linear-gradient(90deg, hsla(204, 42%, 44%, 1) 0%, hsla(204, 70%, 76%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(204, 42%, 44%, 1) 0%, hsla(204, 70%, 76%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(204, 42%, 44%, 1) 0%, hsla(204, 70%, 76%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#417BA1", endColorstr="#99CCED", GradientType=1 );
}
.main-content {
  
  display: flex;
  justify-content: space-around;
  margin-top: -3%;
 
}
.cameraTitle {
  color: #000;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9%;
  margin-left: 1%;
}
.flex-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%; /* Set width to 50% */
  box-sizing: border-box; /* Ensure padding and border don't affect the width */
  min-height: 100vh;
}

.left-flexbox {
  margin-top: 3%;
}
.right-flexbox {
  margin-top: 3%;
}

/* Add other styling as needed */
