/* SignUp.css */

  .sign-in-container {
    margin-bottom: 10px;
  }
 
  .input-label {
    color: #000;
    text-align: left; /* Align labels to the left */
    font-family: Sarala;
    font-size: 18px; /* Increase the font size for better visibility */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
    margin-bottom: 10px;
    margin-left: -20px;
    width: 100%; /* Ensure labels take full width for alignment */
    padding-left: 20px; /* Add left padding to move labels to the left */
    position: relative;
    top: -8px; /* Adjust the value to move the label up */
  }
  
  .input-container {
   position: relative;
  margin-bottom: 20px;
  }
  
  input {
    width: 350px; /* Equal width for both email and password inputs */
  height: 30px;
  color: #000;
  text-align: center;
  font-family: Sarala;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  border: none; /* Remove the input border */
  background: transparent; /* Make the input background transparent */
  margin: 0 auto; /* Center the input horizontally */
  margin-top: -1000px;
  margin-bottom: 5px; /* Add margin for spacing */
  position: relative; /* Add relative positioning */
  }
  
  input::placeholder {
    position: relative;
    
  top: 1px; /* Adjust the top value to move the placeholder text closer to the line */
  color: rgba(211, 211, 211, 0.5);
    
  }
  
  .input-line {
    width: 400px; /* Adjust the width as needed */
    height: 1px;
    background: rgba(0, 0, 0, 0.21);
    margin: 0 auto; /* Center the line horizontally */
    margin-bottom: 10px; /* Add margin for spacing */
  }
  
  .login-button {
    width: 300px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  flex-shrink: 0;
  background-color: rgba(68, 114, 160, 0.39);
  color: #000; /* Change text color to black */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Add text shadow */
  font-family: Sarala;
  font-size: 24px; /* Adjust the font size to your preference */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  border: none;
  cursor: pointer;
  
 
 
  margin-left: 50px; /* Adjust the left margin to move it towards the right */
 
  }
  
  .login-button:focus {
    outline: none;
  }
  
  .login-button:hover {
    background-color: rgba(68, 114, 160, 0.6);
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  